<template name="Register">
    <form>
        <input type="text" id="email" name="email">
        <input type="password" id="password" name="password">
        <input type="submit" value ="Register">
    </form>
</template>

<template name="Login">
   <form class="login-form">
        <input type="text" id="login-email" name="email" placeholder="email">
        <input type="password" id="login-password" name="password" placeholder="password" >
        <input type="submit" value ="Login" class="mdl-button mdl-js-button mdl-button--raised">
        <p class="message">Forgot password? <a href="#">...yes i do!</a></p>
    </form>
</template>