<template name="HomeLayout">
	{{> Header}}
	<main style="padding: 8% 0 0;  margin: auto;">
		<div class="mdl-grid" style="justify-content:center; position: relative;margin: 0 auto 100px;  padding: 45px;" >
		  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--8-col-phone bounceInDown animated webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend" style="text-align:right">
				<h1>Jambar.RC.1</h1>
		  </div>
		  <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--8-col-phone	zoomIn animated webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend">
			<div class="login"> 
				{{> Login}}
			</div>
		  </div>
		</div>
	</main>
</template>
